:root {
  --primary: #7700bcff;
  --primary-var: #7700bc30;
  --secondary: #eeeeeea0;
  --secondary-var: #eeeeee;
  --bgcolor: #000000c0;
  --bgimage: url('nice.jpg');
}

@font-face {
    font-family: Ruthie;
    src: url('rothie.woff');
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(var(--bgcolor), var(--bgcolor)), var(--bgimage);
    background-size: cover;
    background-position: center;
    color: var(--secondary);
}

#field {
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: grid;
}

#profile {
    background-color: var(--primary-var);
    grid-area: profile;
    box-shadow: 0 0 40px 20px var(--primary-var);
    text-align: center;
    font-family: Ruthie;
    font-size: 200%;
}

#countdown {
    justify-self: stretch;
    align-self: stretch;
    grid-area: countdown;
    display: flex;
    justify-content: center;
}

#face {
    width: 100%;
}

#profile, #countdown {
    display: none;
}

.time_circles {
    height: inherit !important;
}
