@font-face {
    font-family: Ruthie;
    src: url('rothie.woff');
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#000000c0, #000000c0), url('nice.jpg');
    background-size: cover;
    background-position: center;
    color: #eeeeeea0;
}

#field {
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: grid;
}

#profile {
    background-color: #7700bc30;
    grid-area: profile;
    box-shadow: 0 0 40px 20px #7700bc30;
    text-align: center;
    font-family: Ruthie;
    font-size: 200%;
}

#countdown {
    justify-self: stretch;
    align-self: stretch;
    grid-area: countdown;
    display: flex;
    justify-content: center;
}

#face {
    width: 100%;
}

#profile, #countdown {
    display: none;
}

.time_circles {
    height: inherit !important;
}
